In [1]:
# Open database connection
import mysql.connector

In [1]:
import pandas as pd
data = pd.read_excel("D:\PROJECTS\data_engineering\data_literacy_raw.xlsx")
data.head(5)

D:\applications\ANACONDA\anaconda\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Respondent ID,Wealth Planning,Wealth Action Text,Health Planning Text,Health Action Text,Civic Planning Text,Civic Action Text,Work Planning Text,Work Action Text,Gender,...,Rank Descending,Rank Ascending,Percentile,Wealth,Health,Civic,Work,Planning,Action,Status
0,6498724205,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Male,...,1401.0,2.5,0.001781,0,0,0,0,0,0,Data Disadvantaged
1,6498522167,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Male,...,1401.0,2.5,0.001781,0,0,0,0,0,0,Data Disadvantaged
2,6498236504,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Male,...,1401.0,2.5,0.001781,0,0,0,0,0,0,Data Disadvantaged
3,6497807224,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Female,...,1401.0,2.5,0.001781,0,0,0,0,0,0,Data Disadvantaged
4,6498560626,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Rarely,Male,...,1400.0,5.0,0.003561,0,0,0,1,0,1,Data Disadvantaged

In [2]:
try:
    # Open database connection
    conn = mysql.connector.connect(host="localhost", user="root", passwd="123mysqladmin", db="datamodel" , autocommit=True)
except mysql.Error as e:
    print("could not connect ")
    print(e)
# prepare a cursor object using cursor() method
cursor = conn.cursor()

In [2]:
data.dtypes

Respondent ID             int64
Wealth Planning          object
Wealth Action Text       object
Health Planning Text     object
Health Action Text       object
Civic Planning Text      object
Civic Action Text        object
Work Planning Text       object
Work Action Text         object
Gender                   object
Age                      object
Race                     object
Education                object
Education Group          object
Income                   object
Employment               object
Job Role                 object
Region                   object
Wealth Planning.1         int64
Wealth Action             int64
Health Planning           int64
Health Action             int64
Civic Planning            int64
Civic Action              int64
Work Planning             int64
Work Action               int64
Total Score               int64
Rank Descending         float64
Rank Ascending          float64
Percentile              float64
Wealth                    int64
Health                    int64
Civic                     int64
Work                      int64
Planning                  int64
Action                    int64
Status                   object
dtype: object

In [4]:
data.columns

Index(['Respondent ID', 'Wealth Planning', 'Wealth Action Text',
       'Health Planning Text', 'Health Action Text', 'Civic Planning Text',
       'Civic Action Text', 'Work Planning Text', 'Work Action Text', 'Gender',
       'Age', 'Race', 'Education', 'Education Group', 'Income', 'Employment',
       'Job Role', 'Region', 'Wealth Planning.1', 'Wealth Action',
       'Health Planning', 'Health Action', 'Civic Planning', 'Civic Action',
       'Work Planning', 'Work Action', 'Total Score', 'Rank Descending',
       'Rank Ascending', 'Percentile', 'Wealth', 'Health', 'Civic', 'Work',
       'Planning', 'Action', 'Status'],
      dtype='object')

In [5]:
data.columns = data.columns.str.replace(' ','_')

In [6]:
data.columns

Index(['Respondent_ID', 'Wealth_Planning', 'Wealth_Action_Text',
       'Health_Planning_Text', 'Health_Action_Text', 'Civic_Planning_Text',
       'Civic_Action_Text', 'Work_Planning_Text', 'Work_Action_Text', 'Gender',
       'Age', 'Race', 'Education', 'Education_Group', 'Income', 'Employment',
       'Job_Role', 'Region', 'Wealth_Planning.1', 'Wealth_Action',
       'Health_Planning', 'Health_Action', 'Civic_Planning', 'Civic_Action',
       'Work_Planning', 'Work_Action', 'Total_Score', 'Rank_Descending',
       'Rank_Ascending', 'Percentile', 'Wealth', 'Health', 'Civic', 'Work',
       'Planning', 'Action', 'Status'],
      dtype='object')

In [7]:
literacy_table_one =  data[['Respondent_ID', 'Wealth_Planning', 'Wealth_Action_Text',
       'Health_Planning_Text', 'Health_Action_Text']]

literacy_table_two = data[['Respondent_ID','Gender',
       'Age', 'Race', 'Education', 'Education_Group', 'Income', 'Employment',
       'Job_Role', 'Region']]

literacy_table_three= data[['Respondent_ID','Wealth', 'Health', 'Civic','Total_Score','Planning', 
                            'Action', 'Status']]

In [12]:
literacy_one = '''CREATE TABLE IF NOT EXISTS literacy_table_one(
                Respondent_ID BIGINT ,
                Wealth_Planning VARCHAR(255),
                Wealth_Action_Text VARCHAR(255),
                Health_Planning_Text VARCHAR(255),
                Health_Action_Text VARCHAR(255)
                )'''
cursor.execute(literacy_one)

NameError: name 'cursor' is not defined

In [ ]:
literacy_two = '''CREATE TABLE IF NOT EXISTS literacy_table_two(
                Respondent_ID BIGINT,
                Gender VARCHAR(255),
                Age VARCHAR(255), 
                Race VARCHAR(255), 
                Education VARCHAR(255), 
                Education_Group VARCHAR(255), 
                Income VARCHAR(255), 
                Employment VARCHAR(255),
                Job_Role VARCHAR(255),
                Region VARCHAR(255)
                )'''
cursor.execute(literacy_two)

In [ ]:
literacy_three = '''CREATE TABLE IF NOT EXISTS literacy_table_three(
                   Respondent_ID BIGINT,
                   Wealth INT, 
                   Health INT, 
                   Civic INT,
                   Total_Score INT,
                   Planning INT,  
                   Action INT,
                   Status VARCHAR(255)
                   )'''
cursor.execute(literacy_three)

In [ ]:
#code for instant SQL insertion 
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}".format(
    user="root", pw="123mysqladmin", db="datamodel"))

#insertion from pandas dataframes to sql tables

literacy_table_one.to_sql(con=engine, name='literacy_table_one',
                          if_exists='replace', chunksize=1000, index=False)


literacy_table_two.to_sql(con=engine, name='literacy_table_two',
                          if_exists='replace', chunksize=1000, index=False)

literacy_table_three.to_sql(con=engine, name='literacy_table_three',
                          if_exists='replace', chunksize=1000, index=False)