In [1]:
# Open database connection
import mysql.connector

In [2]:
try:
    # Open database connection
    conn = mysql.connector.connect(host="localhost", user="root", passwd="123mysqladmin", db="datamodel" , autocommit=True)
except mysql.Error as e:
    print("could not connect ")
    print(e)
# prepare a cursor object using cursor() method
cursor = conn.cursor()

In [12]:
import pandas as pd
data = pd.read_excel("D:\PROJECTS\data_engineering\data_literacy_raw.xlsx")
data.head(5)

,Respondent ID,Wealth Planning,Wealth Action Text,Health Planning Text,Health Action Text,Civic Planning Text,Civic Action Text,Work Planning Text,Work Action Text,Gender,...,Rank Descending,Rank Ascending,Percentile,Wealth,Health,Civic,Work,Planning,Action,Status
0,6498724205,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Male,...,1401.0,2.5,0.001781,0,0,0,0,0,0,Data Disadvantaged
1,6498522167,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Male,...,1401.0,2.5,0.001781,0,0,0,0,0,0,Data Disadvantaged
2,6498236504,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Male,...,1401.0,2.5,0.001781,0,0,0,0,0,0,Data Disadvantaged
3,6497807224,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Female,...,1401.0,2.5,0.001781,0,0,0,0,0,0,Data Disadvantaged
4,6498560626,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Almost never,Rarely,Male,...,1400.0,5.0,0.003561,0,0,0,1,0,1,Data Disadvantaged

In [13]:
data.columns

Index(['Respondent ID', 'Wealth Planning', 'Wealth Action Text',
       'Health Planning Text', 'Health Action Text', 'Civic Planning Text',
       'Civic Action Text', 'Work Planning Text', 'Work Action Text', 'Gender',
       'Age', 'Race', 'Education', 'Education Group', 'Income', 'Employment',
       'Job Role', 'Region', 'Wealth Planning.1', 'Wealth Action',
       'Health Planning', 'Health Action', 'Civic Planning', 'Civic Action',
       'Work Planning', 'Work Action', 'Total Score', 'Rank Descending',
       'Rank Ascending', 'Percentile', 'Wealth', 'Health', 'Civic', 'Work',
       'Planning', 'Action', 'Status'],
      dtype='object')

In [16]:
literacy_table_one =  data[['Respondent ID','Wealth Planning', 'Wealth Action Text',
                            'Health Planning Text', 'Health Action Text']]

literacy_table_two = data[['Respondent ID','Gender','Age', 'Race', 'Education', 'Education Group',
                           'Income', 'Employment','Job Role', 'Region']]

literacy_table_three= data[['Respondent ID','Wealth', 'Health', 'Civic','Total Score','Planning', 
                            'Action', 'Status']]